@import "../../../../../Shared/Styles/variables";

.user-booking-list {
    .btn-box-control {
        display: flex;
        justify-content: center;
        align-content: center;
       
        .cancel{
            margin-left: 20px;
        }
    }
}
