.home-header {
    width: 100%;
    height: 1000px;
    background-image: url("https://previews.123rf.com/images/vadmary/vadmary1708/vadmary170800007/84804792-white-commercial-airplane-flying-over-clouds-at-fantastic-background-with-clouds-and-mountain-peaks-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .header-content {
        .header-left {
            margin-top: 6rem;
            color: black;
            width: 33rem;
        }

        .title {
            width: 550px;
            color: blue;
            padding-left: 150px;
            font-size: 50px;
        }

        .formcheck {
            padding-left: 150px;
        }

        .datetime {
            padding-top: 100px;

        }

        .passenger-type {
            margin-top: 1rem;
            margin-bottom: 1rem;

            .choose-quantity {
               

                .title-passenger {
                    font-size: 15px;
                    font-weight: 500;
                }

                .content {
                    margin-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffff;
                    padding: 5px 0;
                    border-radius: 6px;
                    width: 150px;

                    .quantity {
                        font-size: 25px;
                        color: white;
                        padding: 0 20px;
                        color: rgba(236, 153, 27, 0.9472163866);
                    }

                    .icon {
                        width: 27px;
                        height: 27px;
                        cursor: pointer;
                        color: rgba(236, 153, 27, 0.9472163866);

                    }


                }


            }


        }


        .btn-search-form {
            background: rgb(238, 206, 41);
            background: linear-gradient(90deg, rgba(238, 206, 41, 0.9612219887955182) 25%, rgba(236, 153, 27, 0.9472163865546218) 69%);
            border-radius: 35px;
            margin-top: 0.6rem;
            padding: 1rem 2rem;
            font-size: 10px;
        }
    }
}