#customer-info{

    .float-right{
       float: right;
    }
    .position-relative{
       .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
          width: 65rem;
          height: 80px;
       }
    }
}