#admin{
    
    .sidebar-admin {
        width: 17%;
    }

    .main-content-admin {
        width: 82%;
    }
    .css-hmaglg-MuiPaper-root{
        border-radius: 0;
    }
    .css-4rovll-MuiButtonBase-root-MuiListItemButton-root{
        margin: 10px;
    }
    .css-1t29gy6-MuiToolbar-root{
        background: #051e34;
        
    }
}