#flight-amination{
    padding-top: 5rem;
    padding-bottom: 5rem;
    .notice-none-flight{
        text-align: center;
    }
    .plane-icon{
        font-size: 10rem;
        animation: flight linear 5s infinite;
        animation-direction: alternate;
        
    }
}