#header-left{
    padding-top: 6rem;
    padding-left: 10rem;
 
    .depature{
        padding-top: 1rem;
        
    }
    .destination{
        padding-top: 1rem;
       
      
    }
    .date{
        padding-top: 1rem;
       
    }
    .search{
        padding-top: 1rem;
    }
    .title-passenger{
        color: white;
    }
    
    

}