#header-left {

    .input {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .departure {
        margin-left: 5px;
        margin-bottom: 1rem;
    }

    .destination {
        margin-left: 5px;
    }

    .departure-date {
        width: 50rem;
        margin-left: 15px;
    }
}