@import "../../../../../../../Shared/Styles/variables";

#filter-by-flight {
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: aliceblue;
  width: 100%;

  .box {
    background-color: #ffff;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    margin-bottom: 1rem;

    .MuiFormControl-root {
      width: 100%;
    }
    .side-bar-filter {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      text-align: center;
      // width: 100%;
      height: 3rem;
      border-radius: 8px;
      background-color: $background-color;

      .title-bar {
        display: flex;
        align-items: center;
        color: #ffff;
        background-color: $background-color;
        padding: 1rem;

        .icon-filter {
          font-size: 30px;
          margin-right: 6px;
        }
        .radio-buttons {
          text-align: center;
          border-radius: 50px;
          color: #ffff;
        }
      }

      .content {
        padding: 1rem;
        display: flex;

        .item-check {
          margin-bottom: 1rem;
          padding: 1rem;

          .radio-check {
            padding: 1rem;
          }

          .label-radio {
            font-size: 18px;
          }

          .radio-buttons {
            text-align: center;
            border-radius: 50px;
            padding: 1rem;
            color: #ffff;
          }
        }
      }
    }
    .h4 {
      border-bottom: 2px solid #c3c2c2;
      margin-left: 5px;
    }

    .filter-by-depart {
      padding: 1rem;
      .h5 {
        text-align: center;
      }
      .h4-2 {
        text-align: center;
        color: #c3c2c2;
      }
      .range-slider {
        width: 100%;
      }
    }
  }
}
