#public {
  .wrap-container {
    width: 1300px;
    margin: auto;
  }
}

#location-dialog-home {
  width: 100%;

  .MuiDialog-container.MuiDialog-scrollPaper > div {
    width: 100%;
  }

  // .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  //     width: 100%;
  // }
}
