@import "../../../../../../Shared/Styles/variables";


#booking-step-bar {
    .step-list {
        margin-top: 2rem;


        .step-item {
            clip-path: polygon(0% 0%, 89% 0%, 100% 50%, 88% 100%, 0% 100%);
            background-color: $background-color;
            height: 50px;
            color: white;
            display: flex;
            align-items: center;
            padding-left: 15px;
            cursor: pointer;

            .step-number {
                font-size: 16px;
                border: 2px solid white;
                padding: 5px 12px;
                border-radius: 50%;
            }

            .title {
                margin-left: 1rem;
                font-size: 22px;

            }

        }

        .step-unactive {
            background-color: #d1cfd6bc;
            cursor: default;
        }

        .next-step {
            clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 2% 100%, 12% 50%, 2% 0%);
            padding-left: 5rem;
            margin-left: -3.5rem;
        }
    }


}