@import "../../../../../Shared/Styles/variables";

.selected-flight-details {
    width: 100%;
    margin-bottom: 16px;
    animation: fadeIn linear 600ms forwards;

    .flight-info {
        padding: 1rem 1rem 2rem 1rem;
        background-color: #ffff;

        .title-bar {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(194, 193, 193);

            .title {
                font-size: 18px;
            }

            .icon-info {
                font-size: 20px;
                margin-right: 7px;
            }
            .airline-logo{
                width: 100px;
            }

        }

        .content {
            border-bottom: 1px solid rgb(194, 193, 193);
            padding-bottom: 1rem;

            .logo-box {
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .logo {
                    width: 130px;
                }
            }

            .list-info {
                padding-top: 8px;
                color: black;

                .info-item {
                    font-size: 16px;
                }
            }
        }

    }

    .ticket-info {
        padding: 1rem 1rem 0 1rem;
        background-color: #ffff;

        .title-bar {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(194, 193, 193);

            .title {
                font-size: 18px;
            }

            .icon-info {
                font-size: 20px;
                margin-right: 7px;
            }
        }

        .content {
            font-family: 'Roboto', sans-serif;
        }
    }

    .baggage-condition {
        padding: 1rem;
        background-color: #ffff;

        .title-bar {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(194, 193, 193);

            .title {
                font-size: 18px;
            }

            .icon-info {
                font-size: 20px;
                margin-right: 7px;
            }
        }

        .content {
            margin-top: 1rem;

            .condition-item {
                margin-bottom: 1rem;

                .text {
                    font-size: 16px;
                }
            }
        }
    }

    .ticket-condition {
        padding: 1rem 1rem 2rem 1rem;
        background-color: #ffff;

        .title-bar {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(194, 193, 193);

            .title {
                font-size: 18px;
            }

            .icon-info {
                font-size: 20px;
                margin-right: 7px;
            }
        }

        .content {
            margin-top: 1rem;

            .note {}

            .note-change {
                margin-top: 1rem;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
