@import "../../../../../Shared/Styles/variables";
#select-ticket-box {
    width: 100%;
    height: 9rem;
    margin-bottom: 8rem;
    margin-top: 2rem;

    .top-content-bar {
        background-color: $background-color;
        padding: 2rem 2rem;
        display: flex;
        width: 100%;

        .icon-plane {
            color: #ffff;
            font-size: 4rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid #ffff;
        }

        .content {
            color: #ffff;
            margin-left: 20px;
            margin-top: 10px;

            .top-content {
                display: flex;

                .location-title {
                    font-size: 20px;
                }

                .icon-arrow {
                    font-size: 2rem;
                    margin: 0 1rem;
                }
            }

            .departure-time {
                font-size: 19px;
            }
        }

    }

    .bottom-content-bar {
        margin-top: 1rem;
        width: 100%;

        .item-box {
            width: 14.2%;
            height: 6rem;
            border-right: 2px solid #ffff;
            background-color: $background-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffff;
            cursor: pointer;

            .item-date {
                font-size: 16px;
            }

            .item-day {
                font-size: 20px;
            }

            .item-price {
                font-size: 17px;
            }
        }

        .item-box:nth-child(7n) {
            border-right: none;
        }
        .item-selected {
            background-color: $background-color;
        }

    }

}
