$background-color: #7b61f2;
$background:rgb(124, 102, 243);
$background-linear:linear-gradient(90deg, rgba(124, 102, 243, 1) 22%, rgba(147, 129, 244, 1) 92%);

$background-btn: rgb(238, 206, 41);
$background-linear-btn: linear-gradient(90deg, rgba(238, 206, 41, 0.9612219887955182) 25%, rgba(236, 153, 27, 0.9472163865546218) 69%);
