<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/42f18614-c784-4f4e-866a-26c4058d0bd1/resourcegroups/FlightT5/providers/Microsoft.Web/sites/Flight-T5</ResourceId>
    <ResourceGroup>FlightT5</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://flight-t5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flight-t5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Flight-T5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$Flight-T5</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:flightt5dbserver.database.windows.net,1433;Initial Catalog=flight_t5_db;User ID=ngoviethoang@flightt5dbserver;Password=Hoang12@p" Name="Data Source=tcp:flightt5dbserver.database.windows.net,1433;Initial Catalog=flight_t5_db;User Id=ngoviethoang@flightt5dbserver;Password=Hoang12@p" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="backend.Data.MyDbContext, backend" MigrationConfiguration="backend.Migrations.Configuration, backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:flightt5dbserver.database.windows.net,1433;Initial Catalog=flight_t5_db;User Id=ngoviethoang@flightt5dbserver;Password=Hoang12@p</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>