#search{
    background-image: url(https://www.azernews.az/media/pictures/flight-at-sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;


    .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
        border-radius: 1px;
    }

    .warp-container {
        margin: auto;
        width: 1420px;

    .content{
       
        font-size: 30px;
        padding-top: 5rem;
        color: white;
    }
    .flight{
        color:whitesmoke;
        padding-bottom: 3rem;
    }
    .search-form{
        width: 100%;
        border-radius: 6px;
        
       
        .input{
            width: 40rem;
            background:white ;
        }
        .btn-search-form{
            width: 10rem;
            border-radius: 0 30px 30px 0;
            height: 56px;
            background: rgb(238, 206, 41);
            background: linear-gradient(90deg, rgba(238, 206, 41, 0.9612219887955182) 25%, rgba(236, 153, 27, 0.9472163865546218) 69%);  
        }
    }
   
    
}
}