@import "../../../../../Shared/Styles/variables";


.checkout-step-bar {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 65px;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99999999999999;


    .booking-price-total {
        display: flex;
        justify-content: center;
        align-items: center;

        .price-total {
            color: #ffff;
            font-size: 25px;
            margin-right: 1rem;
        }

        .price-info {
            color: #ffff;
            font-size: 18px;
        }
    }

    .btn-continue {
        bottom: 0;
        float: right;
        top: 0;
        padding: 7px 2rem;
        color: #ffff;
        font-size: 15px;
        background: $background-linear-btn;
    }

    .btn-back {

        float: left;
        padding: 7px 2rem;
        color: #ffff;
        font-size: 15px;
        background: none;
        border: 2px solid #ffff;
    }

    .btn-back:hover {
        background: none;

    }
}
