@import "../../../../../../Shared/Styles/variables";

#sort-by-flight {
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    background-color: aliceblue;
    width: 19rem;
    margin-top: 35px;
    

    .side-bar-filter {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-align: center;
        width: 100%;
        height: 3rem;
        border-radius: 8px;
        background-color: $background-color;
        justify-content: center;
        align-items: center;
        
        .sort-flights {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-bottom: 1rem;

        .title-bar {
            display: flex;
            align-items: center;
            color: #ffff;
            padding: 1rem;
            background-color: black;
         

                .box {
                    background-color: #ffff;
                    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
                    margin-bottom: 1rem;
                }

                .radio-buttons {
                    text-align: center;
                    border-radius: 50px;
                    
                }

            }
        }
    }

    .content {
        padding: 1.2rem;
        display: flex;

        .item-check {
            margin-bottom: 1rem;

            .radio-check {
                color: rgb(36, 226, 36);
            }

            .label-radio {
                font-size: 18px;
             
            }
        }
    }

}