@import "../../../../../Shared/Styles/variables";
.contact-info {
    background-color: #ffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;

    .title-box {
        background-color: $background-color;
        padding: 1rem;

        .title {
            color: white;
            text-transform: uppercase;
            font-size: 17px;
        }
    }

    .content {
        padding: 1rem;
        font-family: 'Roboto', sans-serif;

        .label-info {}

        .required-label {
            color: red;
        }
    }
    .vocatives{
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
            width: 25rem;
            height: 5px;
        }

        
    }
    .outlined-fullname{
        .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
            width: 24rem;
            height: 2px;
           
        }
    }
    .outlined-email {
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
            width: 25rem;
            height: 50px;
           
        }
       
    }
    .outlined-address{
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
            width: 26rem;
            height: 50px;
        }
     }
     .form-control{
         height: 3rem;
     }
     .outlined-note{
         .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
           width: 408px;
           height: 6rem;
       

     }


     }
}
