#navbar {
    position: absolute;
    background: none;
    z-index: 100;
    box-shadow: none;

    @media (min-width: 600px) {
        .css-19r6kue-MuiContainer-root {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
   .logout-btn {
       float: right;
       margin-left: 10px;
   }

    //  .css-e53awj-MuiStack-root{
    //     float: right;
    //     margin-left: 20px;
    // }

    .css-2s90m6-MuiAvatar-root{
        margin-right: 8px;
    }


    .list-menu {
        margin-left: 10rem;
        padding-top: 1rem;

        .hotline {
            display: flex;
            justify-content: center;
            align-items: center;



            .icon-24h {
                margin-right: 1rem;
                width: 2rem;
                margin-left: 7rem;
            }

            .hotline-info {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .title {
                    font-size: 16px;
                    margin-left: 1rem;
                }

                .phone {
                    color: #ffff;
                    margin-left: 1rem;
                    color: #ffeb00;
                    font-size: 16px;
                
                    .css-e53awj-MuiStack-root{
                        float: right;
                }

            }
        }

     
      }

        .active {
            border-bottom: 2px solid white;
        }
    }

    .profile {
        .css-6hp17o-MuiList-root-MuiMenu-list {
            text-decoration: none;
        }

    }

    .account-register {
        display: contents;
       .login{
          

       }
        .signup{
          margin-left: 20px;
           
         
        }
      
    }
}